@import "/src/sass/utils/Variables";
@import "/src/sass/utils/Mixins";

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

ul {
    list-style: none;
}

.accordeon {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__display {
        width: 100%;
        height: auto;
        display: flex;
        background-color: #FF6060;
        border-radius: 5px;

        &__banner {
            width: 100%;
            height: auto;
            display: flex;
            border-radius: 5px;
            margin: 3px 3px;

            &__title {
                width: 90%;
                height: auto;
                display: flex;
                color: white;
                align-items: center;
                font-size: 10px;
                margin-left: 5px;
            }

            &__icon {
                width: 10%;
                height: auto;
                display: flex;
                overflow-x: hidden;
                cursor: pointer;

                .active {
                    transform: rotate(180deg);
                }

                img {
                    width: 70%;
                    height: auto;
                    display: flex;
                    object-fit: cover;
                }
            }
        }
    }

    &__content {
        animation: fadein 2s;
        width: 100%;
        height: 70%;
        display: flex;
        font-size: 12px;
        margin: 0px 0px 20px 0px;
        background-color: #f6f6f6;
        // transform: translateY(-15px);
        // transition: all .4s ease-in-out;

        &__text {
            width: 100%;
            height: 90%;
            display: flex;
            margin: 15px 10px;



            &__ul {
                width: 100%;
                height: auto;
                padding: 30px 30px;

                li {
                    width: 100%;
                    height: auto;



                }
            }
        }
    }

    @include md {
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;

        &__display {
            width: 100%;
            height: auto;
            display: flex;
            margin: 0px auto;
            border-radius: 5px;

            &__banner {
                width: 100%;
                height: auto;
                display: flex;
                background-color: #FF6060;

                &__title {
                    width: 95%;
                    height: auto;
                    font-size: 14px;
                }

                &__icon {
                    width: 5%;
                    height: auto;

                    img {
                        width: 30px;
                    }
                }
            }
        }

        &__content {
            animation: fadein 2s;
            width: 100%;
            height: 70%;
            display: flex;
            font-size: 12px;
            margin: 0px auto 20px auto;
            background-color: #f6f6f6;
            // transform: translateY(-15px);
            // transition: all .4s ease-in-out;

            &__text {
                width: 100%;
                height: 90%;
                display: flex;
                margin: 15px 10px;




                &__ul {
                    width: 100%;
                    height: auto;
                    padding: 30px 30px;

                    li {
                        width: 100%;
                        height: auto;



                    }
                }
            }
        }
    }

    @include lg2 {
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;

        &__display {
            width: 100%;
            height: auto;
            display: flex;
            background-color: #FF6060;
            border-radius: 5px;

            &__banner {
                width: 100%;
                height: auto;
                display: flex;
                border-radius: 5px;
                margin: 3px 3px;

                &__title {
                    width: 90%;
                    height: auto;
                    display: flex;
                    color: white;
                    align-items: center;
                    font-size: 15px;
                    margin-left: 5px;
                }

                &__icon {
                    width: 10%;
                    height: auto;
                    display: flex;
                    overflow-x: hidden;
                    cursor: pointer;

                    .active {
                        transform: rotate(180deg);
                    }

                    img {
                        width: 70%;
                        height: auto;
                        display: flex;
                        object-fit: cover;
                    }
                }
            }
        }

        &__content {
            animation: fadein 2s;
            width: 100%;
            height: 70%;
            display: flex;
            font-size: 12px;
            margin: 0px auto 20px auto;
            background-color: #f6f6f6;
            // transform: translateY(-15px);
            // transition: all .4s ease-in-out;

            &__text {
                width: 100%;
                height: 90%;
                display: flex;
                margin: 15px 10px;




                &__ul {
                    width: 100%;
                    height: auto;
                    padding: 30px 30px;

                    li {
                        width: 100%;
                        height: auto;



                    }
                }
            }
        }
    }

    @include xl {
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;

        &__display {
            width: 100%;
            height: 5vh;
            display: flex;
            margin: 15px auto;
            background-color: #FF6060;
            border-radius: 5px;

            &__banner {
                width: 90%;
                height: auto;
                display: flex;
                background-color: #FF6060;

                &__title {
                    font-size: 24px;
                }

                &__icon {
                    width: 6vh;

                    img {
                        width: 60px;
                    }
                }
            }
        }

        &__content {
            animation: fadein 2s;
            width: 90%;
            height: 70%;
            display: flex;
            font-size: 12px;
            margin: 0px auto 20px auto;
            padding: 0px 0px 0px 10px;
            background-color: #f6f6f6;
            // transform: translateY(-15px);
            // transition: all .4s ease-in-out;

            &__text {
                width: 100%;
                height: 90%;
                display: flex;
                margin: 0px auto 20px auto;



                &__ul {
                    width: 100%;
                    height: auto;
                    padding: 30px 30px;

                    li {
                        width: 100%;
                        height: auto;



                    }
                }
            }
        }
    }

    @include xl1 {
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;

        &__display {
            width: 100%;
            height: 5vh;
            display: flex;
            margin: 15px auto;
            // margin: 10px 0px 0px 0px;
            background-color: #FF6060;
            border-radius: 5px;

            &__banner {
                width: 90%;
                height: auto;
                display: flex;
                background-color: #FF6060;

                &__title {
                    font-size: 40px;
                }

                &__icon {
                    width: 6vh;

                    img {
                        width: 60px;
                    }
                }
            }
        }

        &__content {
            animation: fadein 2s;
            width: 90%;
            height: 70%;
            display: flex;
            font-size: 12px;
            margin: 0px auto 20px auto;
            padding: 0px 0px 0px 10px;
            background-color: #f6f6f6;
            // transform: translateY(-15px);
            // transition: all .4s ease-in-out;

            &__text {
                width: 100%;
                height: 90%;
                display: flex;
                margin: 0px auto 20px auto;



                &__ul {
                    width: 100%;
                    height: auto;
                    padding: 30px 30px;

                    li {
                        width: 100%;
                        height: auto;



                    }
                }
            }
        }
    }

}