@import "/src/sass/utils/Variables";
@import "/src/sass/utils/Mixins";
* {
    margin: 0;
    padding: 0;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .card-img {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    display: flex;
} 
.appartement {
    width: 100%;
    height: 100%;
    border: solid black;
    display: flex;
    flex-direction: column;
    &__card{
        position: relative;
        width: 100%;
        height: auto;
        border: solid yellow;
        padding: 10px 10px 10px 10px;
        img {
            width: 100%;
            height: auto;
            border-radius: 10px 10px 10px 10px;                
            }
               &__p2{
                   width: 100%;
                   height: auto;
                       position: absolute;
                       top: 0;
                       left: 0;
                       right: 0;
                       bottom: 0;
                       background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
                       color: #EEE;
                       border-radius: 10px 10px 10px 10px;                
                   &__title{
                       width: 100%;
                       height: auto;
                           position: absolute;
                           top: 30;
                           left: 0;
                           right: 0;
                           bottom: 0;
                           color: #EEE;
                           padding: 5px;
                       }
               }
       }
       &__icon{
        position: absolute;
        top: 40%;
        left: 0%;
        width: 100%;
        height: auto;
        display: flex;
        padding: 10px 10px 10px 10px;
        // background-color: transparent;
        &__left{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-start;
            background-color: transparent;
            border: none;
            img{
                width: 20%;
                height: auto;
            }
        }
        &__rigth{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-end;
            background-color: transparent;
            border: none;
            img{
                width: 20%;
                height: auto;               
            }          
        }
    
  
    }
    &__describe{
        width: 100%;
        height: auto;
        display: flex;
        border: solid 3px red;
        padding: 10px 10px 10px 10px;
        flex-direction: column;
        &__text{
            width: 100%;
            height: auto;
            display: flex;
            // border: solid 3px green;
            flex-direction: column;
            &__rowLeft{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                background-color: bisque;
                border: solid 3px rgb(0, 11, 128);
                &__title{
                    width: 100%;
                    height: 73px;
                    display: flex;
                    flex-direction: column;
                    &__content{
                        width: 100%;
                        height: 70%;
                        display: flex;
                        border: solid 3px rgb(95, 80, 58);
                    }
                    &__location{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        border: solid 3px rgb(220, 161, 72);

                    }
                }
                &__tags{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    &__vectors{
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: row;
                            &__items{
                                width: 100%;
                                height: auto;
                                display: flex;
                                flex-wrap: nowrap;
                                flex-direction: row;
                                justify-content: flex-start;
                                &__item{
                                    width: auto;
                                    height: auto;
                                    display: flex;
                                    flex-wrap: nowrap;
                                    font-size: 12px;
                                    padding: 2px 20px 2px 20px;
                                    margin: 10px 0px 10px 0px;
                                    border-radius: 5px;
                                    background-color:#FF6060;
                                }
    
                            }
                        }
                }
            }
            &__rowRigth{
                width: 100%;
                height: 5%;
                display: flex;
                flex-direction:row-reverse;

                &__rate {
                    width: 50%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    margin: auto auto;
                    align-items: baseline;
                    &__star {
                        width: 100%;
                        height: auto;
                        display: flex;

                        &__image {
                            width: 100%;
                            height: auto;
                            background-color: #FF6060;
                            display: flex;
                        text-align: left;

                        }
                    }
                }
                &__host{
                    width: 50%;
                    height: 10vh;
                    display: flex;
                    justify-content: center;
                    &__identity{
                        width: 60vh;
                        height: 9vh;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        margin: auto 0px;
                        &__name{
                            width: 50%;
                            height: auto;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            div {
                                width: 80%;
                                height: auto;
                                display: flex; 
                                color: #FF6060;
                                text-align: right;
                                margin : 0px;

                            }
                            }
                        &__circle{
                            width: 30%;
                            height: 7vh;
                            display: flex;
                            justify-content: center;
                            margin: auto 0px;
                            
                        }
                    }
                }
           

            }


        }
        &__collapse{
            width: 100%;
            height: auto;
            display: flex;
            border: solid 3px green;
            flex-direction: column;
            &__describe{
                width: 100%;
                height: auto;
                display: flex;
                border: solid 3px green;
            }
            &__equipement{
                width: 100%;
                height: auto;
                display: flex;
                border: solid 3px green;
            }
        }
    }


@include sm1 {
}
@include sm2 {
}
@include sm {
}
@include md {
    width: 100%;
    height: auto;
    display: flex;
    border: solid black;
    justify-content: center;
    margin: 0px auto;
    &__card{
        width: 96%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        border: solid red;
        justify-content: space-between;
        margin: 0px auto;
        &__doc{
            width: 48%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
       &__lumn{
               flex-direction: row;
               flex-wrap: wrap;
               
                }  
            }
        }
}
@include lg {
}
@include lg2 {
}
@include xl {
    width: 100%;
    height: auto;
    display: flex;
    border: solid black;
    justify-content: center;
    margin: 0px auto;
    &__card{
        width: 90%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        border: solid red;
        justify-content: space-evenly;
        margin: 0px auto;
        &__doc{
            width: 28%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
       &__lumn{
               flex-direction: row;
               flex-wrap: wrap;
               img {
                width: 100%;
                height: 300px;
            }
                }  
            }
        }
}
@include xl1 {
}
}