@import "/src/sass/utils/Variables";
@import "/src/sass/utils/Mixins";
.propos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__accordeon {
        width: 90%;
        height: auto;
        display: flex; 
        margin: 0 auto;
    }
}
