@import "/src/sass/utils/Variables";
@import "/src/sass/utils/Mixins";

.banner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  margin-bottom: 7px;

  &__section {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__texte {
      width: 55%;
      height: auto;
      display: flex;
      color: white;
      justify-content: center;
      margin: auto 0px;
      font-size: 18px;
      line-height: 100%;
      font-family: 'Montserrat';
      position: absolute;
      left: 6vh;
      top: 8.7vh;
      font-weight: 600;

      &__content {
        width: 100%;
        height: auto;
        font-size: 20px;
      }
    }

    &__masqgroup {
      width: 100%;
      height: 12vh;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      object-fit: cover;
      margin: auto auto;
      // background-image: url(../../assets/Background.png);
      background-color: black;

      img {
        width: 100%;
        height: 12vh;
        opacity: 0.6;
        object-fit: cover;
        object-position: right;
        border-radius: 10px;
      }
    }
  }

  @include sm1 {
    width: 100%;
    &__section {
      &__texte {
        left: 6vh;
        top: 10.5vh;
      }

      &__masqgroup {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  @include sm2 {
    width: 100%;
    &__section {

      &__texte {
        top: 11vh;
      }

      &__masqgroup {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  @include md {
    width: 100%;

    &__section {
      &__texte {
        width: 100%;
        top: 20.1%;
        left: auto;

        &__content {
          width: 100%;
          height: auto;
          text-align: center;
          font-size: 36px;
        }
      }

      &__masqgroup {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  @include lg2 {
    width: 100%;
    &__section {
      &__texte {
        width: 100%;
        left: auto;
        top: 18.1%;

        &__content {
          font-size: 44px;
        }
      }

      &__masqgroup {
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        object-fit: cover;
        margin: auto auto;
        // background-image: url(../../assets/Background.png);
        background-color: black;

        img {
          width: 100%;
          height: 12vh;
          opacity: 0.6;
          object-fit: cover;
          object-position: right;
          border-radius: 10px;
        }
      }
    }
  }

  @include xl {
    width: 100%;
    &__section {
      &__texte {
        width: 100%;
        left: auto;
        top: 18.1%;

        &__content {
          width: 100%;
          height: auto;
          text-align: center;
          font-size: 36px;
        }
      }

      &__masqgroup {
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        object-fit: cover;
        margin: auto auto;
        // background-image: url(../../assets/Background.png);
        background-color: black;

        img {
          width: 100%;
          height: 12vh;
          opacity: 0.6;
          object-fit: cover;
          object-position: right;
          border-radius: 10px;
        }
      }
    }
  }

  @include xl1 {
    width: 100%;
    &__section {
      &__texte {
        width: 60%;
        left: auto;
        top: 15vh;

        &__content {
          text-align: center;
          font-size: 100px;
        }
      }

      &__masqgroup {
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        object-fit: cover;
        margin: auto auto;
        // background-image: url(../../assets/Background.png);
        background-color: black;

        img {
          width: 100%;
          height: 12vh;
          opacity: 0.6;
          object-fit: cover;
          object-position: right;
          border-radius: 10px;
        }
      }
    }
  }

}