@import "/src/sass/utils/Variables";
@import "/src/sass/utils/Mixins";

.banner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  margin-bottom: 10px;

  &__section {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__texte {
      width: 55%;
      height: auto;
      display: flex;
      color: white;
      justify-content: center;
      margin: auto 0px;
      font-size: 18px;
      line-height: 100%;
      font-family: 'Montserrat';
      position: absolute;
      left: 7vh;
      top: 17vh;
      font-weight: 600;

      &__content {
        width: 100%;
        height: auto;
        font-size: 22px;
      }
    }

    &__masqgroup {
      width: 100%;
      height: 17vh;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      object-fit: cover;
      margin: auto auto;
      // background-image: url(../../assets/Background.png);
      background-color: black;

      img {
        width: 100%;
        height: 17vh;
        opacity: 0.6;
        object-fit: cover;
        object-position: right;
        border-radius: 10px;
      }
    }
  }

  @include sm1 {
    &__section {

      &__masqgroup {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  @include sm2 {
    &__section {

      &__texte {
        top: 18vh;
      }

      &__masqgroup {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  @include md {
    &__section {
      &__texte {
        width: 60%;
        left: 32vh;
        top: 30vh;
        &__content {
          text-align: center;
          font-size: 36px;
        }
      }
        &__masqgroup {
          width: 100%;
          img {
            width: 100%;
          }
        }
    }
  }

  @include lg2 {
    &__section {
      &__texte {
        width: 100%;
        left: 7vh;
        top: 33vh;
        &__content {
          font-size: 50px;
        }
      }
      &__masqgroup {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  @include xl {
    &__section {
      &__texte {
        width: 100%;
        left: 7vh;
        top: 34vh;
        &__content {
          font-size: 50px;
        }
      }
      &__masqgroup {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  @include xl1 {
    &__section {
      &__texte {
        width: 60%;
        left: 32vh;
        top: 34vh;
        &__content {
          text-align: center;
          font-size: 86px;
        }
      }
        &__masqgroup {
          width: 100%;
          img {
            width: 100%;
          }
        }
    }
  }
  
}