@import "/src/sass/utils/Variables";
@import "/src/sass/utils/Mixins";

.layout {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
 
  &__heading {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3% 0;
    &__logo {
      width: 55%;
      height: auto;
      display: flex;
      align-items: center;
      // border: solid 3px black;

      img {
        width: 33vw;
        height: 4vh;
      }
    }

    &__navbar {
      width: 45%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-family: 'Montserrat';
      font-size: 10px;
      font-weight: 100;
      text-transform: uppercase;
      align-items: center;
      color: #FF6060;

    }

      }
    // }

    @include sm2 {
      &__heading {

        &__logo {
          width: 65%;
          }
        &__navbar {
        width: 35%;
        }
    }
  }

    @include md {
      &__heading {


      &__logo {
        width: 70%;
        img {
          width: 19vw;
          height: 9vh;
        }
      }
      }
      &__navbar {
        width: 30%;
        text-transform: none;
        justify-content: end;
        font-size: 20px;
        margin-right: 0px;

        &__acueil {
          margin-right: 30px;
        }

        &__apropos {
          margin-right: 0px;
        }
      }
    }

    @include lg2 {
      &__heading {

      &__logo {
        width: 70%;
        img {
          width: 18vw;
          height: 5vh;
        }
      }

      &__navbar {
        width: 42%;

      }
    }

  }
    @include xl1 {
      &__heading {

      &__navbar {
        width: 50%;

        justify-content: end;


        font-size: 80px;
        margin-right: 0px;
      }
    }
  }
  }