  .active {
    border-bottom: solid 1px #FF6060;
  }
  .layout__navbar {
    width: 100%;
    height: auto;
    justify-content:flex-end;
    display: flex;
    color: #FF6060;
  
    &__one {
      width: 44%;
      height: auto;
      display: flex;
      a {
        color: #FF6060;
      }
    }
  
    &__two {
      width: 46%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      a {
        color: #FF6060;
      }
  
      text-align: end;  
     
    }


    @include md {
      &__one {
        width: 44%;
        height: auto;
        display: flex;
        a {
          color: #FF6060;
          font-size: 24px;
        }
      }
    
      &__two {
        width: 55%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        a {
          color: #FF6060;
          font-size: 24px;

        }
    
        text-align: end;  
       
      }
    }

    
  
    @include lg2 {
      &__one {
        width: 44%;
        height: auto;
        display: flex;
        a {
          color: #FF6060;
          font-size: 24px;
        }
      }
    
      &__two {
        width: 44%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        a {
          color: #FF6060;
          font-size: 24px;

        }
    
        text-align: end;  
       
      }
    }
  
    @include xl {
      &__one {
        width: 44%;
        height: auto;
        display: flex;
        a {
          color: #FF6060;
          font-size: 34px;
        }
      }
    
      &__two {
        width: 44%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        a {
          color: #FF6060;
          font-size: 34px;

        }
    
        text-align: end;  
       
      }
    }
  
    @include xl1 {
      &__one {
        width: 44%;
        height: auto;
        display: flex;
        a {
          color: #FF6060;
          font-size: 70px;
        }
      }
    
      &__two {
        width: 44%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        a {
          color: #FF6060;
          font-size: 70px;

        }
    
        text-align: end;  
       
      }
    }
  }